{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Forms</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <style>
    @keyframes pop {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.2);
      }

      100% {
        transform: scale(1);
      }
    }

    .pop-animation {
      animation: pop 0.5s ease-out;
    }
  </style>
</head>

<body style="padding: 20px;">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
        <img src="{% static 'img/logo.png' %}" alt="">
        <span class="d-none d-lg-block">NiceUser</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <!-- Messages Nav -->
        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Messages Nav -->

        <!-- Profile Nav -->
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
          </a><!-- End Profile Image Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Kevin Anderson</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'users-profile' %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- Sidebar -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'index' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'users-profile' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

    </ul>

  </aside><!-- End Sidebar -->

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>New Parcel</h1>
    </div><!-- End Page Title -->
    <div class="card">
      <div class="card-body">
        <!-- Entire Form -->
        <form class="php-email-form needs-validation" action="{% url 'submit_user_parcel_form' %}" method="post" novalidate>
          <!-- Sender Information -->
          {% csrf_token %}
          <h5 class="card-title">Sender Information</h5>
          <div class="row mb-3">
            <label for="senderName" class="col-sm-2 col-form-label">Sender Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="senderName" name="senderName" required>
              <div class="invalid-feedback">Please, enter your name!</div>
            </div>
          </div>
  
          <div class="row mb-3">
            <label for="senderTextarea" class="col-sm-2 col-form-label">From Address</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="senderTextarea" name="senderTextarea" style="height: 100px" required></textarea>
              <div class="invalid-feedback">Please, enter sender's details!</div>
            </div>
          </div>
  
          <div class="row mb-3">
            <label for="senderNumber" class="col-sm-2 col-form-label">Sender Phone</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="senderNumber" name="senderNumber" required>
              <div class="invalid-feedback">Please, enter a valid number!</div>
            </div>
          </div>
  
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Select Nearby</label>
            <div class="col-sm-10">
              <select class="form-select" name="from_branch " aria-label="Shipping Service" required>
                <option selected>-Select service-</option>
                <option value="1">Standard Service</option>
                <option value="2">Express service</option>
                <option value="3">Over Night Service</option>
               </select>
              <div class="invalid-feedback">Please, select a shipping service!</div>
            </div>
          </div>
  
          <!-- Recipient Information -->
          <h5 class="card-title">Recipient Information</h5>
          <div class="row mb-3">
            <label for="recipientName" class="col-sm-2 col-form-label">Recipient Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="recipientName" name="recipientName" required>
              <div class="invalid-feedback">Please, enter recipient's name!</div>
            </div>
          </div>
  
          <div class="row mb-3">
            <label for="recipientTextarea" class="col-sm-2 col-form-label">To Address</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="recipientTextarea" name="recipientTextarea" style="height: 100px" required></textarea>
              <div class="invalid-feedback">Please, enter recipient's details!</div>
            </div>
          </div>
  
          <div class="row mb-3">
            <label for="recipientNumber" class="col-sm-2 col-form-label">Recipient Contact</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="recipientNumber" name="recipientNumber" required>
              <div class="invalid-feedback">Please, enter a valid number!</div>
            </div>
          </div>
  
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Select Nearby</label>
            <div class="col-sm-10">
              <select class="form-select" name="to_branch" aria-label="Shipping Service" required>
                <option selected>-Select service-</option>
                <option value="1">Standard Service</option>
                <option value="2">Express service</option>
                <option value="3">Over Night Service</option>
             </select>
              <div class="invalid-feedback">Please, select a shipping service!</div>
            </div>
          </div>
  
          <!-- Parcel Details -->
          <h5 class="card-title">Parcel Details</h5>
          <div class="row mb-3">
            <label for="parcelTextarea" class="col-sm-2 col-form-label">Parcel description</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="parcelTextarea" name="parcelTextarea" style="height: 100px" required></textarea>
              <div class="invalid-feedback">Please, provide parcel details!</div>
            </div>
          </div>
  
          <div class="row mb-3">
            <label for="parcelNumber1" class="col-sm-2 col-form-label">Parcel Weight(kg)</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="parcelNumber1" name="parcelNumber1">
              <div class="invalid-feedback">Please, enter a valid number!</div>
            </div>
          </div>
  
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Shipping Service</label>
            <div class="col-sm-10">
              <select class="form-select" name="shippingService" aria-label="Shipping Service" required>
                <option selected>-Select service-</option>
                <option value="1">Standard Service</option>
                <option value="2">Express service</option>
                <option value="3">Over Night Service</option>
            </select>
              <div class="invalid-feedback">Please, select a shipping service!</div>
            </div>
          </div>
  
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" name="fragile" type="checkbox" value="" id="fragileCheckbox">
              <label class="form-check-label" for="fragileCheckbox">Fragile or sensitive content notification</label>
            </div>
          </div>
  
          <!-- Terms and Conditions -->
          <h5 class="card-title">Terms and Conditions</h5>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
              <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
              <div class="invalid-feedback">You must agree before submitting.</div>
            </div>
          </div>
  
          <!-- Submit Button -->
          <div class="row mb-3">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Submit Form</button>
            </div>
          </div>
        </form>
        <!-- End Entire Form -->
      </div>
    </div>
  </main>
  
  <!-- Footer -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
